.ui.sidebar.visible ~ .pusher {
    width: calc(100% - 260px);
}

.ui.images {
    padding-left: 1.5rem;
    padding-top: 1.5rem;
}

.ui.image.medium.placeholder {
    width: 300px !important;
    height: 200px !important;
}

.ui.image.medium {
    width: auto !important;
    height: auto !important;
    max-width: 300px;
    max-height: 200px;
}

.ui.image.fullscreen {
    width: auto !important;
    height: auto !important;
    max-width: 90vw;
    max-height: 90vh;
}
